 * {
    box-sizing: border-box;
}

body{
    background-color: #d1d1d1;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}


 .main {
    margin: 100px 0px;
    padding: 0 50px;
    background-color: #d1d1d1;
}

body.newStyle .main > * {
    flex: 50%;
}

body.newStyle .main {
    display: flex;
    column-gap: 30px;
    margin: 100px 0px;
    width: 100%;
    padding: 0 50px;
}

.main-header {
    background-color: #d1d1d1;
    text-align: center;
    padding: 30px;
}
body.newStyle .main-header {
    background-color: #d1d1d1;
    color: #000000;
}

.main-header > h1 {
    
    width: fit-content; 
    margin: 0 auto;
    color: #555;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions {
    margin-bottom: 20px;
}
.instructions h2 {
    text-align: center;
}
.selections-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.selection {
    flex: 1;
    margin-right: 10px;
}

.form-input {
    background: black;
    color: #fff;
    width: 100%; 
    height: 50px;
    border-radius: 10px;
}

body.newStyle .form-input {
    background: black;
    color: #fff;
}

body.newStyle .form-input::placeholder {
    text-align: center;
    font-size: larger;
}


.submit-button {
    height: 30px;
    width: 100px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
   
}

body.newStyle .submit-button {
    background-color: black;
    color: #fff;
}
.submit-button:hover {
    background-color: white;
    color: black;

}

body.newStyle .submit-button:hover {
    background-color: white;
    color: black;
}

.results {
    text-align: center;
    color: black;
    background-color: #eee;
    margin-top: 20px; 
    width: 100%; }
    
    body.newStyle .results {
        background-color: #d7d7d7;
    }



















